:root {
  --color-primary: #271297;
  --color-background: #edecf8;
  --color-caption: #9791c2;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #ffffff;
    --color-background: #242424;
    --color-caption: #b8b8b8;
  }
}

body {
  background: var(--color-background);
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  div.scroll-wrapper {
    height: 100vh;
    overflow: auto;
  }
  cursor: none;
  * {
    color: var(--color-primary);
  }
  b {
    font-weight: 500;
  }
}
